{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block header_class %}
{% endblock %}
{% block register_highlight %}btn--without-border{% endblock %}
{% block donation_list_element %}
{% endblock %}
{% block slogan %}
{% endblock %}
{% block content %}
    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form method="post">
          {% csrf_token %}
        <div class="form-group">
{#          <input type="email" name="email" placeholder="Email" />#}
            {{ form.username }}
        </div>
        <div class="form-group">
{#          <input type="password" name="password" placeholder="Hasło" />#}
            {{ form.password }}
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>
        {% if form.errors %}
        <p>{{ form.errors }}</p>
        {% endif %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        <div class="form-group form-group--buttons">
          <a href="/register" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
{% endblock %}
